* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: salmon;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  background-color: lightpink;
  width: 400px;
  padding: 20px;
  margin: 7px;
  border-radius: 10px;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.5);
}
.textarea {
  width: 100%;
  height: 100px;
  font-size: 18px;
  border: solid 2px darkgray;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
}
.counter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.counter-container p {
  color: gray;
  font-size: 18px;
}
.total-counter {
  color: slateblue;
}
.remaining-counter {
  color: orangered;
}
